[Main]
CHECK_FREQUENCY = 5
LAT = xx.xxxxxx
LON = -yy.yyyyyy

[StatusLED]
PORT_R = 13
PORT_G = 19
PORT_B = 26

[AmbientTempHumi]
TEMP_MIN_ERROR = 35.0
TEMP_MIN = 40.0
TEMP_MAX = 85.0
TEMP_MAX_ERROR = 95.0
HUMI_MIN = 30.0
HUMI_MAX = 90.0
TEMP_HUMI_CACHE = 30
SENSOR_PORT = 21

[Light]
PORT = 22

[Water]
HEATER_PORT = 18
HEATER_TEMP_LOW_ERROR = 35.0
HEATER_TEMP_ON = 40.0
HEATER_TEMP_OFF = 45.0
HEATER_TEMP_HIGH_ERROR = 95.0
SENSOR_LEVEL_TOP_PORT = 14
SENSOR_LEVEL_BOTTOM_PORT = 15

[Door]
PORT_1 = 17
PORT_2 = 27
OPEN_SENSOR_PORT = 23
CLOSED_SENSOR_PORT = 24
SENSOR_TIMEOUT = 10000
EXTRA_MIN_SUNRISE = 0
EXTRA_MIN_SUNSET = 0

[Notifications]
LOG = True
LOG_THRESHOLD = INFO
EMAIL = True
EMAIL_THRESHOLD = ERROR
EMAILS_TO = a@example.com,b@example.com
EMAIL_FROM = from@example.com
EMAIL_PASSWORD = from-password
