[Main]
# relays have negative logic
ON = False
OFF = True
CHECK_FREQUENCY = 5
LAT = XX.XXXXXX
LON = -YY.YYYYYY

[StatusLED]
PORT_R = 0
PORT_G = 0
PORT_B = 0

[AmbientTempHumi]
TEMP_MIN = 40.0
TEMP_MAX = 80.0
HUMI_MIN = 30.0
HUMI_MAX = 80.0
SENSOR_PORT = 0

[Light]
PORT = 0

[Water]
HEATER_PORT = 18
HEATER_TEMP_ON = 40.0
HEATER_TEMP_OFF = 45.0
SENSOR_LEVEL_TOP_PORT = 0
SENSOR_LEVEL_BOTTOM_PORT = 0

[Door]
PORT_1 = 0
PORT_2 = 0
OPEN_SENSOR_PORT = 0
CLOSED_SENSOR_PORT = 0
SENSOR_TIMEOUT = 10000
EXTRA_MIN_SUNRISE = 0
EXTRA_MIN_SUNSET = 2000

[Notifications]
LOG = True
LOG_THRESHOLD = INFO
EMAIL = True
EMAIL_THRESHOLD = ERROR
EMAILS_TO = a@example.com,b@example.com
EMAIL_FROM = chicken@example.com
EMAIL_PASSWORD = chicken
