[Main]
# relays have negative logic
ON = False
OFF = True
CHECK_DELAY = 5
LAT = XX.XXXXXX
LON = -YY.YYYYYY

[AmbientTempHumi]
TEMP_MIN = 40.0
TEMP_MAX = 80.0
HUMI_MIN = 30.0
HUMI_MAX = 80.0
SENSOR_PORT = 21

[Light]
PORT = 22

[Water]
HEATER_PORT = 18
HEATER_TEMP_ON = 82.0
HEATER_TEMP_OFF = 85.0
SENSOR_LEVEL_TOP_PORT = 0
SENSOR_LEVEL_BOTTOM_PORT = 0

[Door]
PORT_1 = 17
PORT_2 = 27
OPEN_SENSOR_PORT = 23
CLOSED_SENSOR_PORT = 24
SENSOR_TIMEOUT = 10000
EXTRA_MIN_SUNRISE = 0
EXTRA_MIN_SUNSET = 2000
