$def with (status, day_night, sunrise, sunset, ambient_temp, water_temp, water_heater_mode, water_heater, door_switches, door, water_level, light)

<html>
<meta http-equiv="refresh" content="2">
<body>
<br>Status: $status </br>
<br>Day/Night: $day_night </br>
<br>Sunrise: $sunrise </br>
<br>Sunset: $sunset </br>
<br>Temp: $ambient_temp </br>
<br>Water: $water_temp </br>
<br>Water heater: $water_heater_mode $water_heater </br>
<a href="/WaterHeater/manual">Go Manual</a>
<a href="/WaterHeater/auto">Go Auto</a>
<br>
<a href="/WaterHeater/on">Turn on</a>
<a href="/WaterHeater/off">Turn off</a>
<br>
<br>Door switches: $door_switches </br>
<br>Door: $door </br>
<a href="/Door/manual">Go Manual</a>
<a href="/Door/auto">Go Auto</a>
<br>
<a href="/Door/open">Open</a>
<a href="/Door/close">Close</a>
<br>
<br>Water Level: $water_level </br>
<br>Light: $light </br>
<a href="/Light/manual">Go Manual</a>
<a href="/Light/auto">Go Auto</a>
<br>
<a href="/Light/on">Turn on</a>
<a href="/Light/off">Turn off</a>
<br>

<!--
Day/Night:
<img src="static/day-night.png" width=400 alt="My image"/>

Ambient:
<img src="static/ambient-temp.png" width=400 alt="My image"/>

Door switches:
<img src="static/door-switches.png" width=800 alt="My image"/>

Door:
<img src="static/door.png" width=1800 alt="My image"/>

<br></br>

Water Temp:
<img src="static/water-temp.png" width=600 alt="My image"/>

Water Heater Mode:
<img src="static/water-heater-mode.png" width=600 alt="My image"/>

Water Heater:
<img src="static/water-heater.png" width=600 alt="My image"/>

<br></br>

Water Level:
<img src="static/water-level.png" width=600 alt="My image"/>
-->
</body>
</html>
