$def with (status, rebooting, time, day_night, day_night_status, sunrise, sunset, ambient_temp_state, ambient_temp_status, ambient_temp, ambient_humi, water_temp, water_temp_state, water_temp_status, water_heater_temp_on, water_heater_temp_off, water_heater_mode, water_heater_status, water_heater, door_switches, door_open_time, door_close_time, door, door_status, water_level, water_level_status, light,light_status, fan_temp_off, fan_temp_on, fan, fan_status, heater_temp_on, heater_temp_off, heater_mode, heater_status, heater, webcam_url)

$code:
    def get_full_status(status, rebooting):
        return status if not rebooting else 'Rebooting'

    def get_on_off(state, reverse=False):
      if 'on' in state:
          return 'on' if not reverse else 'off'
      elif 'off' in state:
          return 'off' if not reverse else 'on'
      else:
          return 'invalid'

    def get_auto_manual(state, reverse=False):
      if 'manual' in state:
          return 'manual' if not reverse else 'auto'
      else:
          return 'auto' if not reverse else 'manual'

    def get_low_high(state):
      if 'ok' in state:
          return 'ok'
      elif 'low' in state:
          return 'low'
      elif 'high' in state:
          return 'high'
      else:
          return 'invalid'

    def get_open_closed(state, result_on_off=False, result_close=False, reverse=False, no_invalid=False):
      if result_on_off:
          result_on = 'on'
          result_off = 'off'
      else:
          result_on = 'open'
          if result_close:
              result_off = 'close'
          else:
              result_off = 'closed'
      if 'open' in state:
          return result_on if not reverse else result_off
      elif 'closed' in state:
          return result_off if not reverse else result_on
      elif no_invalid:
          return result_off
      else:
          return 'invalid'

    def get_ok_error(state):
      if 'open-day' in state or 'closed-night' in state:
          return 'ok'
      else:
          return 'error'

    def get_status_color(status, output_string=True):
      if status == 'ERROR':
        return 'red' if output_string else '[1,0,0,1]'
      elif status == 'WARN':
        return 'blue' if output_string else '[0,0,1,1]'
      elif status == 'OK':
        return 'green' if output_string else '[0,1,0,1]'
      elif status == 'MANUAL':
        return 'yellow' if output_string else '[0.2,1,1,1]'

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <title>${get_full_status(status, rebooting)} - Chicken Coop Controller</title>
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="/static/css/standardize.css">
    <link rel="stylesheet" href="/static/css/index-grid.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/spin.js"></script>
    <script type="text/javascript">
        var loading_spinner = function(link_href) {
            var opts = {lines: 13, length: 28, width: 14, radius: 42, scale: 1, corners: 1, color: '#000000', opacity: 0.5, rotate: 0, direction: 1, speed: 1, trail: 60, fps: 20, zIndex: 2e9, className: 'spinner', top: '50%', left: '50%', shadow: false, hwaccel: false, position: 'absolute'};
            var target = document.getElementById('loading');
            target.setAttribute('style','width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:9999;background-color:#dddddd;opacity:0.5;');
            var spinner = new Spinner(opts).spin(target);
            window.location.href = link_href
        }
    </script>
    <style>
        .all-content {
            max-width: 1200px;
            margin: auto;
        }
    </style>
</head>
<body class="body page-index clearfix">
    <div class="all-content">
    <div id="loading"></div>

    <!-- title -->
    <a href="${webcam_url}" target="_blank"><div class="element element-1"></div></a>
    <p class="text text-1">Coop Controller Status:</p>
    <p class="text text-2 text-${get_status_color(status)}">
        ${get_full_status(status, rebooting)}
    </p>

    <!-- time -->
    <div id="time-container"
         class="container container-time container-${get_status_color(day_night_status)}">
    </div>
    <div id="time-icon"
         class="element element-time-icon time-icon-${day_night}">
    </div>
    <p class="text text-3">Time:</p>
    <p id="time-current" class="text text-4">$time</p>
    <p class="text text-5">Sunrise:</p>
    <p id="time-sunrise" class="text text-6">$sunrise</p>
    <p class="text text-7">Sunset:</p>
    <p id="time-sunset" class="text text-8">$sunset</p>

    <!-- door -->
    <div id="door-container"
         class="container container-door container-${get_status_color(door_status)}">
    </div>
    <div id="door-icon"
         class="element element-door-icon door-icon-${get_open_closed(door)}-${get_ok_error(door)}">
    </div>
    <p class="text text-9">Open at:</p>
    <p id="door-open-time" class="text text-11">$door_open_time</p>
    <p class="text text-10">Close at:</p>
    <p id="door-close-time" class="text text-12">$door_close_time</p>
    <a id="door-mode"
       class="_button _button-1 _button-${get_auto_manual(door)}"
       href="/Door/${get_auto_manual(door, reverse=True)}"
       onclick="loading_spinner(this.href)">
    </a>
    <a id="door-switch"
       class="_button _button-2 _button-${get_open_closed(door, result_on_off=True, no_invalid=True)}"
       href="/Door/${get_open_closed(door, reverse=True, result_close=True, no_invalid=True)}"
       onclick="loading_spinner(this.href)">
    </a>

    <!-- ambient temp / humidity -->
    <div id="ambient-container"
         class="container container-ambient container-${get_status_color(ambient_temp_status)}">
    </div>
    <a href="/TempHumiGraph" target="_blank">
    <div id="ambient-icon"
         class="element element-ambient-temp-icon ambient-temp-icon-${get_low_high(ambient_temp_state)}">
    </div>
    </a>
    <p class="text text-13">Temp:</p>
    <p id="ambient-temp" class="text text-14">$ambient_temp</p>
    <p class="text text-15">Humidity:</p>
    <p id="ambient-humidity" class="text text-16">$ambient_humi</p>

    <!-- water temp -->
    <div id="water-temp-container"
         class="container container-water-temp container-${get_status_color(water_temp_status)}">
    </div>
    <a href="/TempHumiGraph" target="_blank">
    <div id="water-temp-icon"
         class="element element-water-temp water-temp-icon-${get_low_high(water_temp_state)}">
    </div>
    </a>
    <p class="text text-17">Water Temp:</p>
    <p id="water-temp" class="text text-18">$water_temp</p>

    <!-- fan -->
    <div id="fan-container"
         class="container container-fan container-${get_status_color(fan_status)}">
    </div>
    <div id="fan-icon"
         class="element element-fan fan-icon-${get_on_off(fan)}">
    </div>
    <p class="text text-19">Temp on:</p>
    <p id="fan-temp-on" class="text text-20">$fan_temp_on</p>
    <p class="text text-21">Temp off:</p>
    <p id="fan-temp-off" class="text text-22">$fan_temp_off</p>
    <a id="fan-mode"
       class="_button _button-3 _button-${get_auto_manual(fan)}"
       href="/Fan/${get_auto_manual(fan, reverse=True)}"
       onclick="loading_spinner(this.href)">
    </a>
    <a id="fan-switch"
       class="_button _button-4 _button-${get_on_off(fan)}-text"
       href="/Fan/${get_on_off(fan, reverse=True)}"
       onclick="loading_spinner(this.href)">
    </a>

    <!-- water heater -->
    <div id="waterheater-container"
         class="container container-waterheater container-${get_status_color(water_heater_status)}">
    </div>
    <div id="waterheater-icon"
         class="element element-water-heater water-heater-icon-${get_on_off(water_heater)}">
    </div>
    <p class="text text-23">Temp on:</p>
    <p id="waterheater-temp-on" class="text text-25">$water_heater_temp_on</p>
    <p class="text text-24">Temp off:</p>
    <p id="waterheater-temp-off" class="text text-26">$water_heater_temp_off</p>
    <a id="waterheater-mode"
       class="_button _button-5 _button-${get_auto_manual(water_heater_mode)}"
       href="/WaterHeater/${get_auto_manual(water_heater_mode, reverse=True)}"
       onclick="loading_spinner(this.href)">
    </a>
    <a id="waterheater-switch"
       class="_button _button-6 _button-${get_on_off(water_heater)}-text"
       href="/WaterHeater/${get_on_off(water_heater, reverse=True)}"
       onclick="loading_spinner(this.href)">
    </a>

    <!-- heater -->
    <div id="heater-container"
         class="container container-heater container-${get_status_color(heater_status)}">
    </div>
    <div id="heater-icon"
         class="element element-heater heater-icon-${get_on_off(heater)}">
    </div>
    <p class="text text-27">Temp on:</p>
    <p id="heater-temp-on" class="text text-28">$heater_temp_on</p>
    <p class="text text-29">Temp off:</p>
    <p id="heater-temp-off" class="text text-30">$heater_temp_off</p>
    <a id="heater-mode"
       class="_button _button-7 _button-${get_auto_manual(heater_mode)}"
       href="/Heater/${get_auto_manual(heater_mode, reverse=True)}"
       onclick="loading_spinner(this.href)">
    </a>
    <a id="heater-switch"
       class="_button _button-8 _button-${get_on_off(heater)}-text"
       href="/Heater/${get_on_off(heater, reverse=True)}"
       onclick="loading_spinner(this.href)">
    </a>

    <!-- water level -->
    <div id="waterlevel-container"
         class="container container-waterlevel container-${get_status_color(water_level_status)}">
    </div>
    <div id="waterlevel-icon"
         class="element element-waterlevel waterlevel-icon-${water_level}">
    </div>
    <p class="text text-31">Water:</p>
    <p id="waterlevel-level" class="text text-32">${water_level}</p>

    <!-- light -->
    <div id="light-container"
         class="container container-light container-${get_status_color(light_status)}">
    </div>
    <div id="light-icon"
         class="element element-light-icon light-icon-${get_on_off(light)}"></div>
    <a id="light-mode"
       class="_button _button-9 _button-${get_auto_manual(light)}"
       href="/Light/${get_auto_manual(light, reverse=True)}"
       onclick="loading_spinner(this.href)">
    </a>
    <a id="light-switch"
       class="_button _button-10 _button-${get_on_off(light)}-text"
       href="/Light/${get_on_off(light, reverse=True)}"
       onclick="loading_spinner(this.href)">
    </a>
    </div>
</body>
</html>
